backend/venv/
backend/.env
backend/app/auth/.env
backend/app/__pycache__/
backend/app/crud/__pycache__/
backend/app/models/__pycache__/
backend/app/routes/__pycache__/
backend/app/schemas/__pycache__/
backend/app/auth/__pycache__/