venv/
.env
app/auth/.env
__pycache__/
app/__pycache__/
app/crud/__pycache__/
app/models/__pycache__/
app/routes/__pycache__/
app/schemas/__pycache__/
app/auth/__pycache__/
chatbot_model.pth
dimensions.json